body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    overflow-x: hidden; 

}

header {
    background: linear-gradient(90deg, #ff7200, #c53636, #ff7e5f);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px; 
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.card {
    background-color: #e8e8e8;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    flex: 1 1 calc(25% - 20px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    height: 500px;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 0;
}

.card img {
    max-width: 100%;
    height: 300px;
    border-radius: 10px;
    margin: 10px 0;
}

footer {
    background: linear-gradient(90deg, #ff7200, #c53636, #ff7e5f);
    color: #fff;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}
